body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    padding-top: 30px;
    color:#fff;
    min-height: 793px;
    background-image: url(../img/bg-top.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 70px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 141px;
}

.header-menu__list {
    display: flex;
    gap: 50px;
}

.header-menu__item-link {
    opacity: 0.5;
    transition: opacity .7s;
}

.header-menu__item-link:hover,
.header-menu__item-link.active {
    opacity: 1;
}

.header-menu__item-link,
.header-menu__btn {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header-btn-box {
    display: flex;
    align-items: center;
}

.header-menu__btn:nth-child(1) {
    display: inline-block;
    margin-right: 44px;
}

.header-menu__btn:nth-child(2) {
    display: inline-block;
    color: #250F8A;
    padding: 4px 43px;
    background-color: #fff;
    border-radius: 20px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.header-menu__btn:nth-child(2)::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FFCA00;
    transition: width .5s;
    border-radius: 20px;
    z-index: -1;
}
.header-menu__btn:nth-child(2):hover::before {
    width: 100%;
}

.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}

.header-slider__info {
    max-width: 505px;
}

.header-slider__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
}

.header-slider__subtitle {
    display: inline-block;
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
}

.header-slider__btn {
    display: inline-block;
    padding: 13px 39px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #250F8A;
    background-color: #FFCA00;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.header-slider__btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: width .5s;
    border-radius: 25px;
    z-index: -1;
}
.header-slider__btn:hover::before {
    width: 100%;
}

.header-slider__img {
    margin: 10px 82px 0 0;
    max-height: 303px;
    transition: opacity .5s;
}

/* -------------------------slider---------------------- */
.header-slider__dots-box {
    width: 15px;
    align-self: center;
}

.dot {
    width: 7px;
    height: 7px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 4px;
    margin: 0 auto;
    transition: all .5s;
    cursor: pointer;
}

.dot:not(.dot:nth-last-child(1)) {
    margin-bottom: 10px;
}

.dot.active {
    width: 15px;
    opacity: 1;
}
/* -------------------------slider---------------------- */

.features {
    text-align: center;
    position: relative;
    z-index: 0;
}

.features::before {
    content: '';
    background-image: url(../img/decor-left.svg);
    width: 157px;
    height: 289px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.title {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: #202020;
}

.features__title {
    margin-bottom: 96px;
}

.features__list {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 93px;
}

.features__item {
    width: 280px;
    min-height: 280px;
}

.features__item-img {
    margin-bottom: 23px;
    min-height: 159px;
}

.features__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    margin-bottom: 7px;
}

.features__item-description {
    color: #272727;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.info {
    background-color: #F4F9FD;
    padding-top: 62px;
    padding-bottom: 55px;
    position: relative;
}

.info::after {
    position: absolute;
    content: '';
    width: 226px;
    height: 270px;
    right: 0;
    top: 50%;
    background-image: url(../img/decor-right.svg);
}

.info__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__box:nth-of-type(2n) {
    flex-direction: row-reverse;
}

.info__box-text {
    max-width: 455px;
    padding-left: 49px;
}

.info__title {
    margin-bottom: 15px;
    position: relative;
}

.info__title::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
}

.info__box:nth-child(1) .info__title::before {
    background-image: url(../img/title-decor1.svg);
    top: -48px;
    left: -35px;
}

.info__box:nth-child(2) .info__title::before {
    background-image: url(../img/title-decor2.svg);
    left: -30px;
    top: 0;
}

.info__box:nth-child(3) .info__title::before {
    background-image: url(../img/title-decor3.svg);
    left: -40px;
    top: -28px;
}


.info__text {
    margin-bottom: 37px;
    color: #272727;
    opacity: 0.7;
}

.parallax {
    position: relative;
    right: 0;
    width: 667px;
    height: 516px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 70%;
}

.parallax-1 {
    background-image: url(../img/info-shapes1.svg), url(../img/info-bg1.svg);
}

.parallax-2 {
    background-image: url(../img/info-shapes2.svg), url(../img/info-bg2.svg);
}

.parallax-3 {
    background-image: url(../img/info-shapes3.svg), url(../img/info-bg3.svg);
}